<nav class="navbar navbar-expand-lg bg-dark navbar-dark mb-5 menu">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="empleados">Empleados</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="empleados" routerLinkActive="active" class="nav-link">Lista de empleados</a>
        </li>
        <li class="nav-item">
          <a routerLink="registrar-empleado" routerLinkActive="active" class="nav-link">Añadir empleado</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
